*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #fff;

}

html,body{
    height: 100%;
    width: 100%;
   
}

#main{
    height: 100%;
    width: 100%;
    border: 10px;
    background-color:black;
    position: relative;

 
}

.element{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
   
   
}

.element h1{
    font-size: 5vw;
    /* position: relative; */
    z-index: 5;
    mix-blend-mode: difference;
    
}

.element img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position:absolute;
    object-fit:fill;
    object-position: center;
     transform: translate(-50%,-50%);
    opacity: 0;
    transition: all linear 0.3s;
}